@{
    ViewData["Title"] = "Vitaminas";
}

<head>

    <link rel="stylesheet" href="~/css/curiosidades.css" />
</head>

<body>


    <section>
        <div class="imgAntiacidos" id="fundoBlack">
            <h1 class="h1Curiosidades">Antiácido</h1>
        </div>
    </section>


    <section id="textoPrincipal">
        <div class="textCuriosidades">

            <h3 class="h3Curiosidades">O que é antiácido ?</h3>

            <p class="textoInfo">
                Um antiácido é uma substância que neutraliza a acidez do estômago e é usada para aliviar azia,
                indigestão ou dores de estômago. Alguns antiácidos têm sido usados ​​no tratamento da constipação e da diarreia.
                Os antiácidos comercializados atualmente contêm sais de alumínio, cálcio, magnésio ou sódio.
                Algumas preparações contêm uma combinação de dois sais, como carbonato de magnésio e hidróxido de alumínio.
                Estudos recentes demonstraram que os antiácidos estimulam a proteção e reabilitação dos processos parativos na mucosa gástrica expostos
                irritantes das mucosas, como o etanol, ambos em animais e em humanos.
        </div>
        <br />

        <section id="corpoCard">
            <div class="row">


                <div class="card01 blue">
                    <h2>Configurações</h2>
                    <p>Configure o seu sistema</p>
                    <img class="image" src="settings.png" alt="settings" />
                </div>


            </div>
        </section>


        <div class="">
            <h3 class="h3Curiosidades">Usos clínicos</h3>
            <p class="textoInfo">
                Os antiácidos são medicamentos isentos de prescrição e podem se adquiridos diretamente no balão de uma drogaria.
                São de via oral com o intuito de aliviar rapidamente a azia ocasional, o principal sintoma da doença do refluxo gastresofágico e da indigestão.
                O tratamento com antiácidos isoladamente é sintomático e justificado apenas para sintomas menores.
                Os usos alternativos de antiácidos incluem constipação, diarreia, hiperfosfatemia e alcalinização urinária.
                Alguns antiácidos também são usados ​​como adjuvantes da terapia de reposição enzimática pancreática no tratamento da insuficiência pancreática.
            <p class="textoInfo">
                Os antiácidos não particulados (citrato de sódio, trissilicato de magnésio) aumentam o pH gástrico com pouco ou nenhum efeito no volume gástrico e,
                portanto, podem ter uso limitado em procedimentos pré-operatórios. O citrato de sódio deve ser administrado dentro de 1 hora após a cirurgia para
                ser mais eficaz.
            </p>
            <h3 class="h3Curiosidades">Efeitos colaterais</h3>
            <p class="textoInfo">
                As formulações que contêm sais de magnésio podem causar diarreia, enquanto as que contêm cálcio ou alumínio podem causar prisão de ventre.
                Raramente, o uso prolongado de carbonato de cálcio pode causar cálculos renais. O uso em longo prazo de antiácidos contendo alumínio pode
                aumentar o risco de desenvolver osteoporose. Estudos in vitro encontraram um potencial para a ocorrência de efeito rebote do ácido devido ao
                uso excessivo de antiácido; no entanto, a importância desse achado foi questionada.

                <h3 class="h3Curiosidades">Mecanismos de ação</h3>
            <p class="textoInfo">
                Quando uma quantidade excessiva de ácido é produzida no estômago, a barreira mucosa natural que protege o revestimento do estômago pode se degradar,
                causando dor e irritação. Também há potencial para o desenvolvimento de refluxo ácido, que pode causar dor e danos ao esôfago.
                Os antiácidos contêm íons alcalinos que neutralizam quimicamente o ácido gástrico, reduzindo os danos ao revestimento do estômago e do esôfago
                e aliviando a dor. Alguns antiácidos também inibem a pepsina, uma enzima que pode danificar o esôfago no refluxo ácido.
            <p class="textoInfo">
                Os antiácidos não inibem diretamente a secreção de ácido e, portanto, são distintos dos medicamentos redutores de ácido,
                como antagonistas do receptor H2 ou inibidores da bomba de prótons. Os antiácidos não matam a bactéria Helicobacter pylori,
                que causa a maioria das úlceras.
            </p>
            <h3 class="h3Curiosidades">Interações</h3>
            <p class="textoInfo">
                Sabe-se que os antiácidos interagem com vários medicamentos orais, incluindo fluoroquinolona e antibióticos tetraciclina, ferro,
                itraconazol e prednisona. A quelação de metais é responsável por algumas dessas interações (por exemplo, fluoroquinolonas, tetraciclinas),
                levando à diminuição da absorção do fármaco quelado. Algumas interações podem ser devido ao aumento do pH observado no estômago após a ingestão
                do antiácido, levando ao aumento da absorção de ácidos fracos e diminuição da absorção de bases fracas.
                Os antiácidos também causam um aumento no pH da urina (alcalinização), o que pode causar aumento das concentrações sanguíneas de bases
                fracas e aumento da excreção de ácidos fracos.
            <p class="textoInfo">
                Um método proposto para mitigar os efeitos da acidez estomacal e da quelação na absorção do medicamento é espaçar a administração de antiácidos
                com medicamentos que interagem; entretanto, esse método não foi bem estudado para medicamentos afetados pela alcalinização da urina.
            </p>
            <p class="textoInfo">
                Existem preocupações com relação às interações entre os comprimidos de liberação retardada e os antiácidos,
                pois os antiácidos podem aumentar o pH do estômago a um ponto em que o revestimento do comprimido de liberação retardada se dissolva,
                levando à degradação do medicamento se ele for sensível ao pH.
            </p>
            <h3 class="h3Curiosidades">Formulações</h3>
            <p class="textoInfo">
                Os antiácidos podem ser formulados com outros ingredientes ativos, como simeticona, para controlar o gás, ou ácido algínico,
                para atuar como uma barreira física ao ácido.

                <h5 class="h5Curiosidades">Líquidos</h5>
            <p class="textoInfo">
                Vários preparados antiácidos líquidos são atualmente comercializados. As preparações líquidas mais comuns incluem leite de
                magnésio e combinações de magnésio / alumínio. Uma vantagem potencial de usar uma preparação líquida em vez de um comprimido é que os líquidos
                podem fornecer um alívio mais rápido, no entanto, isso pode coincidir com uma duração de ação mais curta.
            </p>

            <h5 class="h5Curiosidades">Comprimidos mastigáveis</h5>
            <p class="textoInfo">
                Os comprimidos mastigáveis ​​são uma das formas mais comuns de antiácidos e estão prontamente disponíveis sem receita. Ao chegar ao estômago,
                o pó do comprimido se dissolve no ácido gástrico, permitindo que os cátions sejam liberados e neutralizem o excesso de ácido estomacal.
                Os sais comuns disponíveis na forma de comprimido incluem os de cálcio, magnésio, alumínio e sódio.
            </p>
            <h5 class="h5Curiosidades">Tabletes efervescentes</h5>
            <p class="textoInfo">
                Comprimidos efervescentes são comprimidos projetados para se dissolver em água e, em seguida, liberar dióxido de carbono.
                Ingredientes comuns incluem ácido cítrico e bicarbonato de sódio, que reagem quando em contato com a água para produzir dióxido de carbono.
                Os antiácidos efervescentes também podem conter aspirina, carbonato de sódio ou ácido tartárico.
                Aqueles que contêm aspirina podem causar mais irritação gástrica e ulceração devido aos efeitos da aspirina na membrana mucosa do estômago.
            </p>
        </div>

        <div class="">
            <h3 class="h3Curiosidades"> Autores e Fontes</h3>
            <p class="textoInfo"> ***</p>
        </div>


    </section>

    <section id="corpoCard2">
        <div class="row">
            <h1 center>Artigos Relacionados</h1>
        </div>
    </section>



    <section class="wrapper">
        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/4c168d67/4676414/images/fundoAntibiotico.jpg" />

            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Antibiótico e sua função</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="Antibioticos">Saber mais</a>
            </div>
        </article>
        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/4c168d67/4676414/images/gettyimages-113835988-612x612.jpg" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Antiácidos: sua função e quando usar</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="Antiacidos">Saber mais</a>
            </div>
        </article>
        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/7c40cdeb/3902964/images/Designsemnome2.png" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Vitaminas, tipos e o​nde encontrar</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="Vitaminas">Saber mais</a>
            </div>
        </article>
        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/4c168d67/4676414/images/gettyimages-1166209556-612x612.jpg" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Anti-inflamatórios: o que são, tipos</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="AntiInflamatorio">Saber mais</a>
            </div>
        </article>

        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/4c168d67/4676414/images/istockphoto-1338077753-612x612.jpg" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Antialérgico como funciona e como usar</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="Antialergicos">Saber mais</a>
            </div>
        </article>

        <article class="card2">
            <img class="card2__background"
                 src="https://saude.culturamix.com/blog/wp-content/uploads/2020/03/Tomando-Rem%C3%A9dio-1.jpg" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Analgésicos...</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="Analgesicos">Saber mais</a>
            </div>
        </article>

    </section>

    <section>
        <a href="#" class="btn"></a>
    </section>

</body>

