@{
    ViewData["Title"] = "Vitaminas";
}

<head>

    <link rel="stylesheet" href="~/css/curiosidades.css" />
</head>

<body>


    <section>
        <div class="imgAntibioticos " id="fundoBlack">
            <h1 class="h1Curiosidades">Uso de antibióticos – orientações</h1>
        </div>
    </section>


    <section id="textoPrincipal">
        <div class="textCuriosidades">

            <h3 class="h3Curiosidades">Uso de antibióticos – orientações</h3>

            <p class="textoInfo">
                Antibióticos são substâncias capazes de eliminar ou impedir a multiplicação de bactérias, por isso são usados no tratamento de infecções bacterianas.
                Sua descoberta revolucionou a história da medicina, pois anteriormente muitas pessoas morriam em decorrência de diversos tipos de infecções.
                Atualmente, porém, o uso indiscriminado de antibióticos vem fazendo com que as bactérias se tornem resistentes aos tratamentos,
                gerando um grave problema no mundo todo.
            <p class="textoInfo">
                O uso indiscriminado ocorre quando os antibióticos são usados para tratar infecções que não são causadas por bactérias, como resfriados, por exemplo;
                quando tomados em doses incorretas e quando o tempo de tratamento é inadequado.
            </p>

            <h3 class="h3Curiosidades">Como o uso incorreto torna as bactérias resistentes?</h3>
            <p class="textoInfo">
                Quando se inicia o uso de um antibiótico o doente geralmente apresenta sintomas como dor e febre. Com a tomada das primeiras
                doses as bactérias mais frágeis começam a ser eliminadas e os sintomas melhoram. Se o paciente suspende o uso neste momento,
                as bactérias mais fortes que continuam vivas começam a se multiplicar novamente e os sintomas vão reaparecer. Como as novas bactérias são
                descendentes daquelas mais resistentes, é bem provável que o mesmo medicamento não cure mais esta infecção.
        </div>

        <section id="corpoCard">
            <div class="row">


                <div class="card01 blue">
                    <h2>Configurações</h2>
                    <p>Configure o seu sistema</p>
                    <img class="image" src="settings.png" alt="settings" />
                </div>


            </div>
        </section>


        <div class="">
            <h3 class="h3Curiosidades">Como evitar a resistência aos antibióticos?</h3>
            <p class="textoInfo">
                – nunca use antibióticos sem a indicação do médico ou dentista;
                <br />
                – use a dose que foi prescrita e nos horários corretos (usar doses maiores não acelera a cura);
                <br />
                – nunca pare o tratamento antes do prazo indicado, mesmo que os sintomas tenham melhorado;
                <br />
                – não use antibióticos fora do prazo de validade (podem não fazer efeito e causar resistência bacteriana);
                <br />
                – evite guardar sobras de antibióticos em casa, pois a quantidade geralmente não é suficiente para um novo tratamento.

                <h3 class="h3Curiosidades">Peça sempre orientação ao profissional de saúde!</h3>
            <p class="textoInfo">
                – alguns antibióticos são mais bem tolerados quando tomados com as refeições; outros devem ser tomados com o estômago vazio.
                O profissional de saúde orientará sobre a melhor maneira de usá-los para que a cura ocorra com o mínimo de efeitos colaterais;
                <br />
                – certas pessoas têm alergia a alguns tipos de antibióticos, por isso, lembre-se sempre de contar ao profissional de saúde sobre as alergias que
                já teve;
                <br />
                – a maioria dos casos de dor de garganta, gripe e diarréia não necessita de tratamento com antibióticos, pois geralmente são causados por vírus.

                <h5 class="h5Curiosidades">
                    IMPORTANTE: Somente médicos e cirurgiões-dentistas devidamente habilitados podem diagnosticar doenças,
                    indicar tratamentos e receitar remédios. As informações disponíveis em Dicas em Saúde possuem apenas caráter educativo.
                </h5>

                <h3 class="h3Curiosidades"> Autores e Fontes</h3>
            <p class="textoInfo"> Centro Brasileiro de Informação sobre Medicamentos (CEBRIM). Uso correto de antibióticos. (Folder impresso)</p>
        </div>


    </section>

    <section id="corpoCard2">
        <div class="row">
            <h1 center>Artigos Relacionados</h1>
        </div>
    </section>



    <section class="wrapper">
        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/4c168d67/4676414/images/fundoAntibiotico.jpg" />

            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Antibiótico e sua função</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="Antibioticos">Saber mais</a>
            </div>
        </article>
        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/4c168d67/4676414/images/gettyimages-113835988-612x612.jpg" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Antiácidos: sua função e quando usar</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="Antiacidos">Saber mais</a>
            </div>
        </article>
        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/7c40cdeb/3902964/images/Designsemnome2.png" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Vitaminas, tipos e o​nde encontrar</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="Vitaminas">Saber mais</a>
            </div>
        </article>
        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/4c168d67/4676414/images/gettyimages-1166209556-612x612.jpg" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Anti-inflamatórios: o que são, tipos</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="AntiInflamatorio">Saber mais</a>
            </div>
        </article>

        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/4c168d67/4676414/images/istockphoto-1338077753-612x612.jpg" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Antialérgico como funciona e como usar</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="Antialergicos">Saber mais</a>
            </div>
        </article>

        <article class="card2">
            <img class="card2__background"
                 src="https://saude.culturamix.com/blog/wp-content/uploads/2020/03/Tomando-Rem%C3%A9dio-1.jpg" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Analgésicos...</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="Analgesicos">Saber mais</a>
            </div>
        </article>

    </section>

    <section>
        <a href="#" class="btn"></a>
    </section>

</body>

