@{
    ViewData["Title"] = "Vitaminas";
}

<head>

    <link rel="stylesheet" href="~/css/curiosidades.css" />
</head>

<body>


    <section>
        <div class="imgAntiinflamatorio" id="fundoBlack">
            <h1 class="h1Curiosidades">Anti-inflamatórios</h1>
        </div>
    </section>


    <section id="textoPrincipal">
        <div class="textCuriosidades">

            <h3 class="h3Curiosidades">O que são, principais tipos e como usar</h3>

            <p class="textoInfo"> Os anti-inflamatórios são remédios que diminuem a produção de substância inflamatórias no corpo, como prostaglandinas ou tromboxanos, sendo normalmente indicados para o tratamento de vários tipos de dor, como dor de garganta, cólicas menstruais ou dor de cabeça, por exemplo, além de poderem ser usados para baixar a febre.           
            <p class="textoInfo"> O tipo de anti-inflamatório que pode ser usado depende da condição a ser tratada, podendo ser indicado pelo médico o uso de anti-inflamatórios não esteróides, como o ibuprofeno ou o ácido acetilsalicílico, para inflamações, febre ou dores leves a moderadas, ou, corticóides como dexametasona ou prednisona, no caso de inflamações relacionadas ao sistema imunológico, como a rinite alérgica ou lúpus eritematoso sistêmico, por exemplo.</p>
            <p class="textoInfo"> Por isso, é importante consultar o médico para que seja realizado o diagnóstico da doença e, assim, seja possível ser orientado o melhor anti-inflamatório, a dose do medicamento e a duração do tratamento.</p>
        </div>

        <section id="corpoCard">
            <div class="row">


                <div class="card01 blue">
                    <h2>Configurações</h2>
                    <p>Configure o seu sistema</p>
                    <img class="image" src="settings.png" alt="settings" />
                </div>


            </div>
        </section>


        <div class="">
            <h5 class="h5Curiosidades"> Os principais tipos de anti-inflamatórios incluem:</h5>
            <h3 class="h3Curiosidades">Anti-inflamatórios não esteroides</h3>
            <p class="textoInfo"> Os anti-inflamatórios não esteroides, também conhecidos como AINES, são remédios que agem reduzindo a produção de substâncias inflamatórias no corpo, como as prostaglandinas e tromboxanos, responsáveis pela inflamação ou dor.</p>
            <p class="textoInfo"> Geralmente, os anti-inflamatórios não esteroides são indicados para o tratamento de dores leves a moderadas que não melhoram com o uso de analgésicos, como dor de cabeça, dor de garganta, dor muscular, artrite reumatóide, cólica menstrual, ou dor após uma cirurgia, por exemplo. Além disso, esses remédios podem ser usados para baixar a febre.</p>
            <p class="textoInfo"> Os anti-inflamatórios não esteróides devem ser usados com indicação médica, nas doses e pelo tempo de tratamento orientado pelo médico.</p>


            <h5 class="h3Curiosidades">Alguns exemplos de anti-inflamatórios não esteróides são:</h5>

            <h3 class="h3Curiosidades">1. Ácido acetilsalicílico</h3>
            <p class="textoInfo">O ácido acetilsalicílico, também conhecido como AAS, é um anti-inflamatório não esteroide, indicado para tratar a inflamação, aliviar a dor de intensidade leve a moderada, nos casos de artrite, dor de cabeça, dor de garganta ou cólica menstrual, e baixar a febre em adultos e crianças.</p>
            <p class="textoInfo">Além disso, em baixas doses, pode ser usado por adultos como anticoagulante, já que inibe a agregação plaquetária, sendo indicado para reduzir o risco de infarto agudo do miocárdio, prevenir o AVC, angina e tromboses em pessoas que apresentam alguns fatores de risco.</p>

            <h5 class="h5Curiosidades">Como usar: </h5>
            <p class="textoInfo"> durante o tratamento com o ácido acetilsalicílico podem ocorrer náuseas, vômitos, diarréia, azia ou dor de estômago. Além disso, o uso prolongado pode aumentar o risco de sangramentos ou úlceras de estômago.</p>

            <h5 class="h5Curiosidades">Possíveis efeitos colaterais:</h5>
            <p class="textoInfo">Durante o tratamento com o ácido acetilsalicílico podem ocorrer náuseas, vômitos, diarréia, azia ou dor de estômago. Além disso, o uso prolongado pode aumentar o risco de sangramentos ou úlceras de estômago.</p>

            <h5 class="h5Curiosidades">Contra-indicações:</h5>
            <p class="textoInfo">Esse remédio não deve ser usado por mulheres grávidas ou por pessoas que têm alergia ao ácido acetilsalicílico, tendência a sangramentos, crises de asma causadas pelo uso de anti-inflamatórios não esteróides, úlceras de estômago ou intestino, insuficiência renal, hepática ou cardíaca grave, ou que estejam utilizando remédios anticoagulantes.</p>



            <h3 class="h3Curiosidades">2. Ibuprofeno</h3>
            <p class="textoInfo">O Ibuprofeno é um anti-inflamatório não esteróide indicado para o alívio da febre e da dor, como dor de cabeça, dor muscular, dor de dentes, enxaqueca, artrite reumatóide e cólica menstrual.</p>
            <p class="textoInfo">Além disso, o ibuprofeno também pode ser usado por adultos e crianças para aliviar a dor no corpo e a febre em caso de sintomas de gripes ou resfriado comum.</p>

            <h5 class="h5Curiosidades">Como usar: </h5>
            <p class="textoInfo">A forma de uso do ibuprofeno depende da apresentação, já que pode ser encontrado em gotas, comprimidos, cápsulas gelatinosas ou suspensão oral. Saiba como usar o ibuprofeno.</p>

            <h5 class="h5Curiosidades">Possíveis efeitos colaterais:</h5>
            <p class="textoInfo">Os efeitos colaterais mais comuns são tonturas, aparecimento de lesões na pele, como bolhas ou manchas, dor de estômago, náuseas ou inchaço.</p>

            <h5 class="h5Curiosidades">Contra-indicações:</h5>
            <p class="textoInfo">Esse remédio não deve ser usado por pessoas que tenham alergia ao ibuprofeno ou qualquer outro anti-inflamatório não-esteróide, asma, insuficiência hepática, renal ou cardíaca, úlcera ou sangramento no estômago ou intestino. Além disso, não deve ser usado por crianças com menos de 6 meses.</p>



            <h3 class="h3Curiosidades">3. Diclofenaco</h3>
            <p class="textoInfo">A prednisona é um corticoide indicado para tratar reumatismo, sinovites, dermatites, psoríase grave, lúpus eritematoso sistêmico, rinite alérgica e reações alérgicas a medicamentos, por exemplo. Confira outras indicações da prednisona.</p>
            <p class="textoInfo">Esse remédio possui potente efeito anti-inflamatório, antirreumático, antialérgico e imunossupressor, devendo ser usado somente com indicação médica.</p>

            <h5 class="h5Curiosidades">Como usar: </h5>
            <p class="textoInfo">A prednisona deve ser tomada por via oral, sendo que a dose normalmente recomendada para adultos pode variar de 5 mg a 60 mg por dia, dependendo da condição a ser tratada.</p>

            <h5 class="h5Curiosidades">Possíveis efeitos colaterais:</h5>
            <p class="textoInfo">Os efeitos colaterais mais comuns da prednisona são aumento do apetite, má digestão, úlcera no estômago, pancreatite ou esofagite ulcerativa, nervosismo, cansaço ou insônia.</p>

            <h5 class="h5Curiosidades">Contra-indicações:</h5>
            <p class="textoInfo">
                Esse remédio não deve ser usado por pessoas com infecções fúngicas sistêmicas ou infecções não controladas ou por pessoas que tenham alergia à prednisona ou a algum dos componentes da fórmula. Além disso, a prednisona não deve ser usada por mulheres grávidas ou que estejam amamentando, a não ser que seja recomendado pelo médico. A prednisona também não é recomendada para pessoas com doenças avançadas do fígado, uma vez que é metabolizada por esse órgão.



                <h3 class="h3Curiosidades">4. Prednisolona</h3>
            <p class="textoInfo">A prednisolona é um corticóide indicado para o tratamento de problemas como reumatismo, artrite psoriática ou reumatoide, sinovites, alterações hormonais, lúpus eritematoso sistêmico e cardite reumática aguda, asma brônquica, pênfigo, dermatites, púrpura trombocitopênica, além de também poder ser usada no tratamento do câncer.</p>
            <p class="textoInfo">A prednisolona é um corticóide semelhante à prednisona, no entanto, não sofre metabolismo pelo fígado, sendo normalmente recomendada nos casos em que a pessoa tem doenças do fígado.</p>

            <h5 class="h5Curiosidades">Como usar: </h5>
            <p class="textoInfo">A prednisolona varia muito em função do peso, idade, doença a tratar e da apresentação, pois pode ser encontrada na forma de comprimidos, suspensão oral ou gotas. Assim, as doses normalmente recomendadas da prednisolona na forma de comprimidos para adultos varia de 5 a 60 mg, por dia, o que equivale a 1 comprimido de 5 mg ou 3 comprimidos de 20 mg por dia, devendo ser tomada com orientação médica.</p>

            <h5 class="h5Curiosidades">Possíveis efeitos colaterais:</h5>
            <p class="textoInfo">A prednisolona pode causar efeitos colaterais como aumento do apetite, má digestão, úlcera no estômago, pancreatite, esofagite ulcerativa, nervosismo, cansaço ou insônia. Além disso, a prednisolona pode causar redução da tolerância aos carboidratos ou diabetes mellitus latente.</p>

            <h5 class="h5Curiosidades">Contra-indicações:</h5>
            <p class="textoInfo">Esse remédio não deve ser usado por pessoas que tenham alergia à prednisolona ou qualquer outro tipo de corticóide, ou por pessoas que tenham infecções por fungos ou outras infecções sistêmicas não controladas. A prednisolona também não deve ser usada por mulheres grávidas ou em amamentação, sem recomendação médica.</p>


</div>


        <div class="">
            <h3 class="h3Curiosidades"> Autores e Fontes</h3>
            <p class="textoInfo"> Escrito, atualizado e revisto clinicamente por Flávia Costa - Farmacêutica, em agosto de 2022.</p>
        </div>


    </section>

    <section id="corpoCard2">
        <div class="row">
            <h1 center>Artigos Relacionados</h1>
        </div>
    </section>



    <section class="wrapper">
        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/4c168d67/4676414/images/fundoAntibiotico.jpg" />

            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Antibiótico e sua função</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="Antibioticos">Saber mais</a>
            </div>
        </article>
        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/4c168d67/4676414/images/gettyimages-113835988-612x612.jpg" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Antiácidos: sua função e quando usar</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="Antiacidos">Saber mais</a>
            </div>
        </article>
        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/7c40cdeb/3902964/images/Designsemnome2.png" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Vitaminas, tipos e o​nde encontrar</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="Vitaminas">Saber mais</a>
            </div>
        </article>
        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/4c168d67/4676414/images/gettyimages-1166209556-612x612.jpg" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Anti-inflamatórios: o que são, tipos</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="AntiInflamatorio">Saber mais</a>
            </div>
        </article>

        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/4c168d67/4676414/images/istockphoto-1338077753-612x612.jpg" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Antialérgico como funciona e como usar</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="Antialergicos">Saber mais</a>
            </div>
        </article>

        <article class="card2">
            <img class="card2__background"
                 src="https://saude.culturamix.com/blog/wp-content/uploads/2020/03/Tomando-Rem%C3%A9dio-1.jpg" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Analgésicos...</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="Analgesicos">Saber mais</a>
            </div>
        </article>

    </section>

    <section>
        <a href="#" class="btn"></a>
    </section>

</body>

