@{
    ViewData["Title"] = "Vitaminas";
}

<head>

    <link rel="stylesheet" href="~/css/curiosidades.css" />
</head>

<body>


    <section>
        <div class="imgCuriosidades" id="fundoBlack">
            <h1 class="h1Curiosidades">Antiácidos, tipos e cuidados</h1>
        </div>
    </section>


    <section id="textoPrincipal">
        <div class="textCuriosidades">

            <h3 class="h3Curiosidades">O que é antiácido ?</h3>

            <p class="textoInfo"> Sample text. Click to select the text box. Click again or double click to start editing the text. Dictum non consectetur a erat nam at. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Tellus mauris a diam maecenas sed enim ut sem. Ipsum faucibus vitae aliquet nec ullamcorper sit amet</p>
            <p class="textoInfo"> Sample text. Click to select the text box. Click again or double click to start editing the text. Dictum non consectetur a erat nam at. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Tellus mauris a diam maecenas sed enim ut sem. Ipsum faucibus vitae aliquet nec ullamcorper sit amet​Sample text. Click to select the text box. Click again or double click to start editing the text. Dictum non consectetur a erat nam at. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Tellus mauris a diam maecenas sed enim ut sem. Ipsum faucibus vitae aliquet nec ullamcorper sit amet</p>
            <h3 class="h3Curiosidades">Qual a função ?</h3>

            <p class="textoInfo"> Sample text. Click to select the text box. Click again or double click to start editing the text. Dictum non consectetur a erat nam at. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Tellus mauris a diam maecenas sed enim ut sem. Ipsum faucibus vitae aliquet nec ullamcorper sit amet</p>
            <p class="textoInfo"> Sample text. Click to select the text box. Click again or double click to start editing the text. Dictum non consectetur a erat nam at. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Tellus mauris a diam maecenas sed enim ut sem. Ipsum faucibus vitae aliquet nec ullamcorper sit amet​Sample text. Click to select the text box. Click again or double click to start editing the text. Dictum non consectetur a erat nam at. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Tellus mauris a diam maecenas sed enim ut sem. Ipsum faucibus vitae aliquet nec ullamcorper sit amet</p>
        </div>

        <section id="corpoCard">
            <div class="row">


                <div class="card01 blue">
                    <h2>Configurações</h2>
                    <p>Configure o seu sistema</p>
                    <img class="image" src="settings.png" alt="settings" />
                </div>


            </div>
        </section>


        <div class="">
            <h3 class="h3Curiosidades">Benefícios&nbsp;</h3>
            <p class="textoInfo"> Sample text. Click to select the text box. Click again or double click to start editing the text. Dictum non consectetur a erat nam at. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Tellus mauris a diam maecenas sed enim ut sem. Ipsum faucibus vitae aliquet nec ullamcorper sit amet​Sample text. Click to select the text box. Click again or double click to start editing the text. Dictum non consectetur a erat nam at. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Tellus mauris a diam maecenas sed enim ut sem. Ipsum faucibus vitae aliquet nec ullamcorper sit amet</p>
            <h3 class="h3Curiosidades">Malefícios&nbsp;</h3>
            <p class="textoInfo"> Sample text. Click to select the text box. Click again or double click to start editing the text. Dictum non consectetur a erat nam at. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Tellus mauris a diam maecenas sed enim ut sem. Ipsum faucibus vitae aliquet nec ullamcorper sit amet​Sample text. Click to select the text box. Click again or double click to start editing the text. Dictum non consectetur a erat nam at. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Tellus mauris a diam maecenas sed enim ut sem. Ipsum faucibus vitae aliquet nec ullamcorper sit amet</p>
            <h3 class="h3Curiosidades">Efeito colaterais</h3>
            <p class="textoInfo"> Sample text. Click to select the text box. Click again or double click to start editing the text. Dictum non consectetur a erat nam at. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Tellus mauris a diam maecenas sed enim ut sem. Ipsum faucibus vitae aliquet nec ullamcorper sit amet</p>
            <p class="textoInfo"> Sample text. Click to select the text box. Click again or double click to start editing the text. Dictum non consectetur a erat nam at. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Tellus mauris a diam maecenas sed enim ut sem. Ipsum faucibus vitae aliquet nec ullamcorper sit amet</p>
        </div>




        <div class="">
            <h3 class="h3Curiosidades">Antiácidos naturais e seu preparo</h3>
            <p class="textoInfo"> Sample text. Click to select the text box. Click again or double click to start editing the text. Dictum non consectetur a erat nam at. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Tellus mauris a diam maecenas sed enim ut sem. Ipsum faucibus vitae alique.</p>
            <h3 class="h3Curiosidades">Suco de abacaxi</h3>
            <p class="textoInfo"> O abacaxi contém bromelaína, uma enzima que ajuda a controlar os níveis de ácido clorídrico no estômago. Isso faz com que ele atue como um antiácido natural. Beba 120 ml de suco de abacaxi após uma refeição para ajudar a reduzir a hiperacidez e a azia.</p>
            <h3 class="h3Curiosidades">Maçãs</h3>
            <p class="textoInfo"> As maçãs são uma das melhores frutas antiácidas que você pode escolher para ajudar a se livrar da azia. Uma única fatia de maçã pode acalmar a produção de ácido e reduzir a sensação de queimação em apenas 5 minutos!&nbsp;</p>
            <h3 class="h3Curiosidades">Bananas</h3>
            <p class="textoInfo"> As bananas são outra fruta antiácido que pode ser útil no combate à azia. Bananas frescas e secas podem ajudar a reduzir o refluxo ácido.</p>
            <h3 class="h3Curiosidades">Uvas</h3>
            <p class="textoInfo"> As uvas são muito boas para aliviar a indigestão, dores de estômago e azia. Coma de 10 a 20 uvas para um alívio rápido sempre que tiver qualquer tipo de problema de digestão.</p>
            <h3 class="h3Curiosidades">Manjericão</h3>
            <p class="textoInfo"> As folhas de manjericão podem ajudar a aliviar a azia, bem como a outros problemas de digestão, como náuseas e gases. Mastigue 2 a 3 folhas frescas de manjericão para regular a digestão e normalizar o ácido estomacal.</p>
            <h3 class="h3Curiosidades">Camomila</h3>
            <p class="textoInfo"> O chá de camomila é usado há muito tempo para ajudar a neutralizar o ácido estomacal. Não é apenas um antiácido natural, mas também um calmante e ótimo para relaxar antes de dormir!</p>
            <h3 class="h3Curiosidades">Canela</h3>
            <p class="textoInfo"> Chás feitos de canela ou cardamomo amassados ​podem ajudar a aliviar a sensação de queimação associada à azia. Basta adicionar 1 colher de chá de canela triturada ou em pó a 1 xícara de água fervente. Deixe em infusão por alguns minutos, depois coe e beba.</p>
            <h3 class="h3Curiosidades">Erva-doce</h3>
            <p class="textoInfo"> De acordo com os fitoterapeutas, o chá feito de semente de erva-doce pode reduzir o refluxo ácido. Adicione 2 colheres de chá de semente de erva-doce a 1 xícara de água fervente. Deixe em infusão por 10 minutos, depois coe e beba.</p>
            <h3 class="h3Curiosidades">Alho</h3>
            <p class="textoInfo"> Embora algumas pessoas culpem o alho como a causa da azia, na verdade ele pode ser usado para te livrar da azia. Usá-lo pode ser tão simples quanto mastigar um dente de alho quando ocorre azia. Você também pode armazenar alguns dentes de alho no vinagre de maçã e beber um gole do líquido quando ocorrer azia.</p>
            <h3 class="h3Curiosidades">Gengibre</h3>
            <p class="textoInfo"> O gengibre fresco é um dos remédios mais antigos para a azia e também pode ser um tratamento eficaz para as náuseas. Quando você começar a sentir os efeitos da indigestão, combine 1 colher de sopa de gengibre fresco, 1 colher de sopa de suco de limão e 2 colheres de sopa de mel em 1 xícara de água morna e beba.</p>
            <h3 class="h3Curiosidades"> Vinagre de maçã</h3>
            <p class="textoInfo"> Por mais surpreendente que pareça, o vinagre de maçã ácido pode ajudar a acalmar a azia e promover a saúde digestiva. Misture 2 colheres de sopa de vinagre de maçã em 1/2 xícara de água e beba imediatamente após uma refeição potencialmente indutora de azia.&nbsp;</p>
            <h3 class="h3Curiosidades"> Bicarbonato de Sódio</h3>
            <p class="textoInfo"> O bicarbonato de sódio é um antiácido natural que pode aliviar a azia causada pelo refluxo ácido. Misture 1/2 colher de chá de bicarbonato de sódio em 1 xícara de água e beba para neutralizar o ácido. (Evite usar este remédio se sentir azia regularmente, pois é rico em sal.)</p>
            <h3 class="h3Curiosidades">Batata</h3>
            <p class="textoInfo"> O suco de batata não só ajuda a neutralizar o excesso de ácido estomacal, mas também pode ajudar a curar o revestimento do esôfago. Para o suco, adicione uma batata crua e adicione a mesma quantidade de água fria. Mexa bem e beba imediatamente para obter o melhor resultado.</p>
        </div>

        <div class="">
            <h3 class="h3Curiosidades"> Autores e Fontes</h3>
            <p class="textoInfo"> egkrmfemfemeomfmemf</p>
        </div>


    </section>

    <section id="corpoCard2">
        <div class="row">
                <h1 center>Artigos Relacionados</h1>  
        </div>
    </section>
    

    <section class="wrapper">
        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/4c168d67/4676414/images/gettyimages-113835988-612x612.jpg" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Antiácidos: sua função e quando usar</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <button class="card2__button">Ler mais</button>
            </div>
        </article>
        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/7c40cdeb/3902964/images/Designsemnome2.png" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Vitaminas, tipos e o​nde encontrar</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <button class="card2__button">Continuar lendo</button>
            </div>
        </article>
        <article class="card2">
            <img class="card2__background"
                 src="https://saude.culturamix.com/blog/wp-content/uploads/2020/03/Tomando-Rem%C3%A9dio-1.jpg" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Analgésicos...</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <button class="card2__button">Read more</button>
            </div>
        </article>
        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/4c168d67/4676414/images/istockphoto-1338077753-612x612.jpg" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Antialérgico como funciona e como usar</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <button class="card2__button">Read more</button>
            </div>
        </article>
        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/4c168d67/4676414/images/gettyimages-1166209556-612x612.jpg" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Anti-inflamatórios: o que são, tipos</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <button class="card2__button">Read more</button>
            </div>
        </article>
        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/4c168d67/4676414/images/fundoAntibiotico.jpg" />

            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Antibiótico e sua função</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <button class="card2__button">Read more</button>
            </div>
        </article>


       
    </section>

</body>

