@{
    ViewData["Title"] = "Buscar";
}

<p>@TempData["json"]</p>

    <input type="text" id="cod" />
    <button id="Pesq"> Salvar </button>


<script>
    $(document).ready(function () {
        $("#Pesq").click(function () {
            var cod = document.getElementById("cod").value

            var image = {url: cod}

            $.ajax({
                type: "POST",
                url: "https://scanremedio.cognitiveservices.azure.com/vision/v4/ocr",
                data: JSON.stringify(image),
                headers: {
                    'Content-Type': 'application/json',
                    'Ocp-Apim-Subscription-Key': "6c193a3b7d2747ae8fc02707a665fb7f"
                },
                dataType: 'json',
                success: function (res) {
                    console.log(res);
                    alert("Sucesso")
                },
                error: function (e) {
                    console.log(e);
                    alert(e)
                },
                done: function (e) {
                    console.log(e);
                    alert(e)
                }
            });
        });
    });
</script>

