

<form method="post" enctype="multipart/form-data">
    Nome: <input type="text" name="nome" />
    <br />
    <input type="file" name="arquivo" />
    <br />
    <input type="submit" value="SALVAR" />
</form>