@{
    ViewData["Title"] = "Buscar";
}

<p>@TempData["json"]</p>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="arquivo" />
    <br />
    <input type="submit" value="SALVAR" />
</form>



