@model IEnumerable<SmartBulaSite.Models.Usuario>

@{
    ViewData["Title"] = "Listar";
}
<body>

    <div id="home" class="module parallax">
        <h1 id="tituloHome">Descubra que medicamento é esse!</h1>
        <h3 class="text-white">Basta inserir um nome ou uma imagem do medicamento desejado.</h3>




        <form id="formulario" method="post" enctype="multipart/form-data">

            <input id="inputps" type="text" maxlength="50" style="color: #f00; font-style: italic" size="80" validateempty="true" placeholder="Digite o nome do medicamento" focusempty="false" />
            <input type="submit" class="submit" value="Procurar" id="btnSearch" size="30">

            <center>


                <label class="teste" for="file">Enviar arquivo</label>
                <div class="zoneUm">
                    <input onchange="javascript: submitform()" class="zone" type="file" name="files[]" id="file">
                </div>

                <div id="dropZ">
                </div>
            </center>
        </form>
    </div>



    <p class="p2" id="sectionCuriosidades">Conheça os principais tipos de medicamentos mais consumidos e sua respectiva função.</p>

    <div class="wrapper">
        <div>
            <div class="icon fa-4x">
                <i class="fa-solid fa-prescription-bottle-medical icone" style="color: #ffffff;"></i>
            </div>
            <h3>​Antibiótico</h3>
            <p class="p">Texto de amostra. Confira os principais tipos de medicamentos para diabetes e sua respectiva função.</p>
            <br>
            <a class="saber" href="Home/Antibioticos">SABER MAIS</a>
        </div>



        <div>
            <div class="icon fa-4x">
                <i class="fa-solid fa-pills icone" style="color: #ffffff;"></i>
            </div>
            <h3>Antiácidos</h3>
            <p class="p">Texto de amostra. Confira os principais tipos de medicamentos para diabetes e sua respectiva função.</p>
            <br>
            <a class="saber" href="Home/Antiacidos">SABER MAIS</a>
        </div>



        <div>
            <div class="icon fa-4x">
                <i class="fa-solid fa-vial-circle-check icone" style="color: #ffffff;"></i>
            </div>
            <h3>Vitaminas</h3>
            <p class="p">Texto de amostra. Confira os principais tipos de medicamentos para diabetes e sua respectiva função.</p>
            <br>
            <a class="saber" href="Home/Vitaminas">SABER MAIS</a>
        </div>



        <div>
            <div class="icon fa-4x">
                <i class="fa-solid fa-teeth icone" style="color: #ffffff;"></i>
            </div>
            <h3>​Anti-inflamatório</h3>
            <p class="p">Texto de amostra. Confira os principais tipos de medicamentos para diabetes e sua respectiva função.</p>
            <br>
            <a class="saber" href="Home/AntiInflamatorio">SABER MAIS</a>
        </div>



        <div>
            <div class="icon fa-4x">
                <i class="fa-solid fa-head-side-cough-slash icone" style="color: #ffffff;"></i>
            </div>
            <h3>Antialérgicos</h3>
            <p class="p">Texto de amostra. Confira os principais tipos de medicamentos para diabetes e sua respectiva função.</p>
            <br>
            <a class="saber" href="Home/Antialergicos">SABER MAIS</a>
        </div>



        <div>
            <div class="icon fa-4x">
                <i class="fa-solid fa-notes-medical icone" style="color: #ffffff;"></i>
            </div>
            <h3>Analgésicos</h3>
            <p class="p">Texto de amostra. Confira os principais tipos de medicamentos para diabetes e sua respectiva função.</p>
            <br>
            <a class="saber" href="Home/Analgesicos">SABER MAIS</a>
        </div>

    </div>

    <div id="fundo_qm">
        <h3>O que é Smart ​B​ula?</h3>
        <p class="p_qm">
            Sample text. Click to select the text box. Click again or double click to start editing the text. Dictum non consectetur a erat nam at.
            Aliquam malesuada bibendum arcu vitae elementum curabitur vitae.Texto de amostra. Confira os principais tipos de medicamentos para diabe
            tes e sua respectiva função.Texto de amostra. Confira os principais tipos de medicamentos para diabetes e sua respectiva função.Texto de amostr
            a. Confira os principais tipos de medicamentos para diabetes e sua respectiva função.Confira os principais tipos de medicamentos para diabetes 
            e sua respectiva função.Confira os principais tipos de medicamentos para diabetes e sua respectiva
        </p>


    </div>
    <!------------------------------------------------------------------------------------------->
    <div id="fundo2_qm">
        <div id="base_qm">

            <section id="cardsQM">

                <div class="card_qm">

                    <h3>​Antibiótico</h3>
                    <p class="p">Texto de amostra. Confira os principais tipos de medicamentos para diabetes e sua respectiva função.</p>
                    <br>
                    <a class="saber" href="">SABER MAIS</a>
                </div>



                <div class="card_qm">

                    <h3>Antiácidos</h3>
                    <p class="p">Texto de amostra. Confira os principais tipos de medicamentos para diabetes e sua respectiva função.</p>
                    <br>
                    <a class="saber" href="">SABER MAIS</a>
                </div>



                <div class="card_qm">

                    <h3>Vitaminas</h3>
                    <p class="p">Texto de amostra. Confira os principais tipos de medicamentos para diabetes e sua respectiva função.</p>
                    <br>
                    <a class="saber" href="">SABER MAIS</a>
                </div>



                <div class="card_qm">

                    <h3>​Anti-inflamatório</h3>
                    <p class="p">Texto de amostra. Confira os principais tipos de medicamentos para diabetes e sua respectiva função.</p>
                    <br>
                    <a class="saber" href="">SABER MAIS</a>
                </div>
            </section>
        </div>
      

    </div>

    <div id="baixar">

        <div>
            <h4>NÃO FIQUE DE FORA. BAIXE NOSSO APP! </h4>
            <h3>Smart Bula</h3>
            <p>
                Sample text. Click to select the text box. Click again or double click to start editing the text. Dictum non consectetur a erat nam at.
                Aliquam malesuada bibendum arcu vitae elementum curabitur vitae.
            </p>
        </div>
        

    </div>









</body>

<script type="text/javascript">
    function submitform() {
        document.getElementById("formulario").submit();
    }
</script>



@* ctrl+k+d *@
