@{
    ViewData["Title"] = "Home Page";
}
<body class="text-center">
    <h1 class="display-4">Descubra que medicamento é esse!</h1>
    <input type="text" />
    <button>Procurar</button>
    <br />
    <br />
    <br />
    <br />
    <br />

    <label class="picture" for="picture__input" tabIndex="0">
        <span class="picture__image"></span>
    </label>

    <input type="file" name="picture__input" id="picture__input">

</body>

