@{
    ViewData["Title"] = "Home Page";
}
<body class="text-center">
    <br />
    <br />
    <br />
    <br />
    <h1>Descubra que medicamento é esse!</h1>
    <h3>Basta inserir um nome ou uma imagem do medicamento desejado.</h3>
    <br />
    <br />
    <br />
    <input type="text" name="q" id="sq" class="search_q" maxlength="50" style="color: #f00; font-style: italic" size="60"  validateempty="true" placeholder="Digite o nome do medicamento" focusempty="false" />
    <input type="submit" class="submit" value="Procurar" id="btnSearch" size="20">
    <br />
    <br />
    <br />
    <br />
    <br />



    <center>
        <form method="post" enctype="multipart/form-data">
            <br />
            <input type="file" name="arquivo">
            <br />

            <label class="picture" for="picture__input" tabIndex="0">
                <span class="picture__image"></span>
                <input type="file" name="picture__input" id="picture__input">
            </label>

        </form>
    </center>

</body>

