@model IEnumerable<SmartBulaSite.Models.Usuario>

@{
    ViewData["Title"] = "Listar";
}
<body>

    <div id="home" class="module parallax">
        <h1 id="tituloHome">Descubra que medicamento é esse!</h1>
        <h3 class="text-white">Basta inserir um nome ou uma imagem do medicamento desejado.</h3>

       


        <form id="formulario" method="post" enctype="multipart/form-data">

            <input id="inputps" type="text" maxlength="50" style="color: #f00; font-style: italic" size="80" validateempty="true" placeholder="Digite o nome do medicamento" focusempty="false" />
            <input type="submit" class="submit" value="Procurar" id="btnSearch" size="30">

            <center>

            
                <label class="teste" for="file">Enviar arquivo</label>
                <div class="zoneUm">
                    <input onchange="javascript: submitform()" class="zone" type="file" name="files[]" id="file">
                </div>

                <div id="dropZ">
                </div>
            </center>
        </form>
    </div>


    <div class="wrapper">
        <div>
            <div class="icon fa-4x">
                <i class="fa-solid fa-prescription-bottle-medical icone" style="color: #ffffff;"></i>
            </div>
            <h3>​Antibiótico</h3>
            <p class="p">Texto de amostra. Confira os principais tipos de medicamentos para diabetes e sua respectiva função.</p>
            <br>
            <a class="saber" href="">SABER MAIS</a>
        </div>



        <div>
            <div class="icon fa-4x">
                <i class="fa-solid fa-pills icone" style="color: #ffffff;"></i>
            </div>
            <h3>Antiácidos</h3>
            <p class="p">Texto de amostra. Confira os principais tipos de medicamentos para diabetes e sua respectiva função.</p>
            <br>
            <a class="saber" href="">SABER MAIS</a>
        </div>



        <div>
            <div class="icon fa-4x">
                <i class="fa-solid fa-vial-circle-check icone" style="color: #ffffff;"></i>
            </div>
            <h3>Vitaminas</h3>
            <p class="p">Texto de amostra. Confira os principais tipos de medicamentos para diabetes e sua respectiva função.</p>
            <br>
            <a class="saber" href="">SABER MAIS</a>
        </div>



        <div>
            <div class="icon fa-4x">
                <i class="fa-solid fa-teeth icone" style="color: #ffffff;"></i>
            </div>
            <h3>​Anti-inflamatório</h3>
            <p class="p">Texto de amostra. Confira os principais tipos de medicamentos para diabetes e sua respectiva função.</p>
            <br>
            <a class="saber" href="">SABER MAIS</a>
        </div>



        <div>
            <div class="icon fa-4x">
                <i class="fa-solid fa-head-side-cough-slash icone" style="color: #ffffff;"></i>
            </div>
            <h3>Antialérgicos</h3>
            <p class="p">Texto de amostra. Confira os principais tipos de medicamentos para diabetes e sua respectiva função.</p>
            <br>
            <a class="saber" href="">SABER MAIS TESTE2</a>
        </div>



        <div>
            <div class="icon fa-4x">
                <i class="fa-solid fa-notes-medical icone" style="color: #ffffff;"></i>
            </div>
            <h3>Analgésicos</h3>
            <p class="p">Texto de amostra. Confira os principais tipos de medicamentos para diabetes e sua respectiva função.</p>
            <br>
            <a class="saber" href="">SABERRRR MAISSS TESTE 2</a>
        </div>

    </div>

    <section id="corpoCard">
        <div class="row">
          

            <div class="card01 blue">
                <h2>Configurações</h2>
                <p>Configure o seu sistema</p>
                <img class="image" src="settings.png" alt="settings" />
            </div>

         
        </div>
    </section>
   


    <article class="card">
        <img class="card__background"
             src="https://uploads.metropoles.com/wp-content/uploads/2016/11/14134854/iStock_67852903_SMALL.jpg"
             alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
             width="1920"
             height="2193" />
        <div class="card__content | flow">
            <div class="card__content--container | flow">
                <h2 class="card__title">Colombia</h2>
                <p class="card__description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
                    labore laudantium deserunt fugiat numquam.
                </p>
            </div>
            <button class="card__button">Read more</button>
        </div>
    </article>



</body>

<script type="text/javascript">
    function submitform() {
        document.getElementById("formulario").submit();
    }
</script>



@* ctrl+k+d *@
