@{
    ViewData["Title"] = "Vitaminas";
}

<head>

    <link rel="stylesheet" href="~/css/curiosidades.css" />
</head>

<body>


    <section>
        <div class="imgVitaminas" id="fundoBlack">

            <h1 class="h1Curiosidades">
                Vitaminas
            </h1>
        </div>
    </section>


    <section id="textoPrincipal">
        <div class="textCuriosidades">

            <h3 class="h3Curiosidades">Vitaminas</h3>

            <p class="textoInfo">
                As vitaminas são compostos orgânicos não sintetizados pelo organismo, sendo incorporados através da alimentação.
            </p>
            <p class="textoInfo">
                Elas são essenciais para o funcionamento de importantes processos bioquímicos do organismo, especialmente como catalisadoras de
                reações químicas.
            </p>
            <p class="textoInfo">
                As principais fontes de vitaminas são as frutas, verduras, legumes, carne, leite, ovos e cereais.
            </p>
            <p class="textoInfo">
                A carência parcial de vitaminas é chamada de hipovitaminose, enquanto que o excesso de ingestão de vitaminas é denominado hipervitaminose.
                Avitaminose é a carência extrema ou total de vitaminais.
            </p>
            <p class="textoInfo">
                Existem ainda as pró-vitaminas, substâncias a partir das quais o organismo é capaz de sintetizar vitaminas. Por exemplo:
                carotenos (pró-vitamina A) e esteróis (pró-vitamina D).
            </p>

            <h3 class="h3Curiosidades">Tipos</h3>

            <p class="textoInfo">
                As vitaminas são divididas em dois grupos, conforme a substância na qual se dissolvem:
            </p>

            <h5 class="h5Curiosidades">Vitaminas lipossolúveis:</h5>
            <p class="textoInfo">
                São as vitaminas solúveis em gordura e por isso podem ser armazenadas. Fazem parte deste grupo as vitaminas A, D, E e K.
            </p>

            <h5 class="h5Curiosidades">Vitaminas hidrossolúveis:</h5>
            <p class="textoInfo">
                São as vitaminas do complexo B e a vitamina C, solúveis em água. Elas não podem ser armazenadas no corpo, tornando raro os casos
                de hipervitaminose. Também são absorvidas e excretadas rapidamente.
        </div>

        <section id="corpoCard">
            <div class="row">


                <div class="card01 blue">
                    <h2>Configurações</h2>
                    <p>Configure o seu sistema</p>
                    <img class="image" src="settings.png" alt="settings" />
                </div>


            </div>
        </section>
        <div class="textCuriosidades">
            <h3 class="h3Curiosidades">Vitaminas Lipossolúveis</h3>
            <h5 class="h5Curiosidades">Vitamina A (Retinol/Beta-Caroteno)</h5>
            <h5 class="h5Curiosidades">Funções:</h5>
            <p class="textoInfo">
                Crescimento e desenvolvimento dos tecidos; ação antioxidante; funções reprodutivas; integridade dos epitélios;importante para a visão.
            </p>

            <h5 class="h5Curiosidades">Fontes:</h5>
            <p class="textoInfo">
                Fígado, rim, nata, manteiga, leite integral, gema de ovo, queijo e peixes oleosos. Fontes de carotenos presentes na cenoura,
                abobrinha, batata doce, manga, melão, mamão, pimentão vermelho, brócolis, agrião, espinafre.
            </p>
            <h5 class="h5Curiosidades">Hipovitaminose:</h5>
            <p class="textoInfo">
                Queratinização das membranas de mucosas que revestem o trato respiratório, tubo digestivo e trato urinário.
                Queratinização da pele e do epitélio do olho. Alterações na pele, insônia, acne, pele seca com descamações, diminuição do paladar e apetite,
                cegueira noturna, úlceras na córnea, perda de apetite, inibição do crescimento, fadiga, anormalidades ósseas, perda de peso,
                aumento da incidência de infecções.
            </p>
            <h5 class="h5Curiosidades">Hipervitaminose:</h5>
            <p class="textoInfo">
                Dores nas articulações, afinamento de ossos longos, perda de cabelo e icterícia.
            </p>


            <h5 class="h5Curiosidades">Vitamina D</h5>
            <h5 class="h5Curiosidades">Funções:</h5>
            <p class="textoInfo">
                Absorção de cálcio e fósforo. Auxilia o crescimento e a resistência dos ossos, dentes, músculos e nervos;
            </p>
            <h5 class="h5Curiosidades">Fontes:</h5>
            <p class="textoInfo">
                Leite e derivados, margarinas e cereais enriquecidas, peixes gordos, ovos, levedo de cerveja.
            </p>
            <h5 class="h5Curiosidades">Hipovitaminose:</h5>
            <p class="textoInfo">
                Anormalidades ósseas, raquitismo, osteomalácia;
            </p>
            <h5 class="h5Curiosidades">Hipervitaminose:</h5>
            <p class="textoInfo">
                Anormalidades ósseas, raquitismo, osteomalácia;
            </p>


            <h5 class="h5Curiosidades">Vitamina E (Tocoferol)</h5>
            <h5 class="h5Curiosidades">Funções:</h5>
            <p class="textoInfo">
                Ação antioxidante, protege as células dos danos provocados pelos radicais livres, auxiliando na prevenção de doenças cardiovasculares e
                alguns tipos de câncer.
            </p>
            <h5 class="h5Curiosidades">Fontes:</h5>
            <p class="textoInfo">
                Óleos vegetais, nozes, amêndoa, avelã, gérmen de trigo, abacate, aveia, batata doce, vegetais verde-escuros.
            </p>
            <h5 class="h5Curiosidades">Hipovitaminose:</h5>
            <p class="textoInfo">
                Anemia hemolítica, distúrbios neurológicos, neuropatia periférica e miopatia esquelética.
            </p>
            <h5 class="h5Curiosidades">Hipervitaminose:</h5>
            <p class="textoInfo">
                Não existe toxicidade conhecida.
            </p>


            <h5 class="h5Curiosidades">Vitamina K</h5>
            <h5 class="h5Curiosidades">Funções:</h5>
            <p class="textoInfo">
                Catalisar a síntese dos fatores de coagulação do sangue no fígado. A vitamina K atua na produção de protrombina, que combina com o cálcio para
                ajudar a produzir o efeito coagulante, além de ser necessária na manutenção da saúde dos ossos.
            </p>
            <h5 class="h5Curiosidades">Fontes:</h5>
            <p class="textoInfo">
                Vegetais verdes folhosos, fígado, feijão, ervilha e cenoura.
            </p>
            <h5 class="h5Curiosidades">Hipovitaminose:</h5>
            <p class="textoInfo">
                Tendência a hemorragias.
            </p>
            <h5 class="h5Curiosidades">Hipervitaminose:</h5>
            <p class="textoInfo">
                Dispnéia e Hiperbilirrubinemia.
            </p>

            <h5 class="h5Curiosidades">Vitaminas Hidrossolúveis</h5>
            <h5 class="h5Curiosidades">Vitamina C</h5>
            <h5 class="h5Curiosidades">Funções:</h5>
            <p class="textoInfo">
                Antioxidante, cicatrizante, atua no crescimento e manutenção dos tecidos corporais, incluindo matriz óssea, cartilagem, colágeno e tecido conjuntivo.
            </p>
            <h5 class="h5Curiosidades">Fontes alimentares:</h5>
            <p class="textoInfo">
                Frutas cítricas, frutas vermelhas, maçã, tomate, batata inglesa, batata doce, repolho, brócolis.
            </p>
            <h5 class="h5Curiosidades">Hipovitaminose:</h5>
            <p class="textoInfo">
                Pontos hemorrágicos na pele e nos ossos, capilares fracos, articulações frágeis, dificuldade de cicatrização de feridas, sangramento de gengivas.
            </p>

            <p class="textoInfo">
                As frutas exóticas também são excelentes fontes de vitamina C.
            </p>


            <h5 class="h5Curiosidades">Vitaminas do Complexo B</h5>
            <p class="textoInfo">
                As vitaminas do complexo B compreendem oito vitaminas, são elas:
            </p>
            <h5 class="h5Curiosidades">Tiamina (B1)</h5>
            <h5 class="h5Curiosidades">Funções: </h5>
            <p class="textoInfo">
                Liberação de energia dos carboidratos, gorduras e álcool.
            </p>
            <h5 class="h5Curiosidades">Fontes:</h5>
            <p class="textoInfo">
                Gérmen de trigo, ervilha, levedura, cereais matinais fortificados, amendoim, fígado, batata, carne de porco e vaca, fígado, grãos, leguminosas.
            </p>
            <h5 class="h5Curiosidades">Hipovitaminose:</h5>
            <p class="textoInfo">
                Beribéri (dor e paralisia das extremidades, alterações cardiovasculares e edema), anorexia, indigestão, constipação, atonia gástrica, secreção
                insuficiente de ácido clorídrico, fadiga, apatia geral, enfraquecimento do músculo cardíaco, edema, insuficiência cardíaca e dor crônica no
                sistema músculo-esquelético.
            </p>
            <h5 class="h5Curiosidades">Hipervitaminose:</h5>
            <p class="textoInfo">
                Pode interferir na absorção de outras vitaminas do complexo B.
            </p>



            <h5 class="h5Curiosidades">Riboflavina (B2)</h5>
            <h5 class="h5Curiosidades">Funções: </h5>
            <p class="textoInfo">
                Disponibiliza a energia dos alimentos, crescimento em crianças, restauração e manutenção dos tecidos.
            </p>
            <h5 class="h5Curiosidades">Fontes:</h5>
            <p class="textoInfo">
                Iogurte, leite, queijo, fígado, rim, coração, gérmen de trigo, cereais matinais vitaminados, grãos, peixes oleosos, levedura, ovos, siri, amêndoa,
                semente de abóbora, vegetais.
            </p>
            <h5 class="h5Curiosidades">Hipovitaminose:</h5>
            <p class="textoInfo">
                Queilose (rachaduras nos cantos da boca), glossite (edema e vermelhidão da língua), visão turva, fotofobia, descamação da pele, dermatite seborréica.
            </p>



            <h5 class="h5Curiosidades">Niacina (B3)</h5>
            <h5 class="h5Curiosidades">Funções: </h5>
            <p class="textoInfo">
                Necessária para a produção de energia nas células. Desempenha papel nas ações das enzimas no metabolismo dos ácidos graxos, respiração dos tecidos
                e eliminação de toxinas.
            </p>
            <h5 class="h5Curiosidades">Fontes:</h5>
            <p class="textoInfo">
                Carnes magras, fígado, peixes oleosos, amendoim, cereais matinais vitaminados, leite, queijo cogumelo, ervilha, vegetais folhosos verdes, ovos,
                alcachofra, batata, aspargos.
            </p>
            <h5 class="h5Curiosidades">Hipovitaminose:</h5>
            <p class="textoInfo">
                Fraqueza, pelagra, anorexia, indigestão, erupções na pele, confusão mental, apatia, desorientação, neurite.
            </p>


            @*https://www.todamateria.com.br/vitaminas/#:~:text=As%20vitaminas%20s%C3%A3o%20compostos%20org%C3%A2nicos,como%20catalisadoras%20de%20rea%C3%A7%C3%B5es%20qu%C3%ADmicas.*@



        </div>




        <div class="">
            <h3 class="h3Curiosidades">Antiácidos naturais e seu preparo</h3>
            <p class="textoInfo"> Sample text. Click to select the text box. Click again or double click to start editing the text. Dictum non consectetur a erat nam at. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Tellus mauris a diam maecenas sed enim ut sem. Ipsum faucibus vitae alique.</p>
            <h3 class="h3Curiosidades">Suco de abacaxi</h3>
            <p class="textoInfo"> O abacaxi contém bromelaína, uma enzima que ajuda a controlar os níveis de ácido clorídrico no estômago. Isso faz com que ele atue como um antiácido natural. Beba 120 ml de suco de abacaxi após uma refeição para ajudar a reduzir a hiperacidez e a azia.</p>
            <h3 class="h3Curiosidades">Maçãs</h3>
            <p class="textoInfo"> As maçãs são uma das melhores frutas antiácidas que você pode escolher para ajudar a se livrar da azia. Uma única fatia de maçã pode acalmar a produção de ácido e reduzir a sensação de queimação em apenas 5 minutos!&nbsp;</p>
            <h3 class="h3Curiosidades">Bananas</h3>
            <p class="textoInfo"> As bananas são outra fruta antiácido que pode ser útil no combate à azia. Bananas frescas e secas podem ajudar a reduzir o refluxo ácido.</p>
            <h3 class="h3Curiosidades">Uvas</h3>
            <p class="textoInfo"> As uvas são muito boas para aliviar a indigestão, dores de estômago e azia. Coma de 10 a 20 uvas para um alívio rápido sempre que tiver qualquer tipo de problema de digestão.</p>
            <h3 class="h3Curiosidades">Manjericão</h3>
            <p class="textoInfo"> As folhas de manjericão podem ajudar a aliviar a azia, bem como a outros problemas de digestão, como náuseas e gases. Mastigue 2 a 3 folhas frescas de manjericão para regular a digestão e normalizar o ácido estomacal.</p>
            <h3 class="h3Curiosidades">Camomila</h3>
            <p class="textoInfo"> O chá de camomila é usado há muito tempo para ajudar a neutralizar o ácido estomacal. Não é apenas um antiácido natural, mas também um calmante e ótimo para relaxar antes de dormir!</p>
            <h3 class="h3Curiosidades">Canela</h3>
            <p class="textoInfo"> Chás feitos de canela ou cardamomo amassados ​podem ajudar a aliviar a sensação de queimação associada à azia. Basta adicionar 1 colher de chá de canela triturada ou em pó a 1 xícara de água fervente. Deixe em infusão por alguns minutos, depois coe e beba.</p>
            <h3 class="h3Curiosidades">Erva-doce</h3>
            <p class="textoInfo"> De acordo com os fitoterapeutas, o chá feito de semente de erva-doce pode reduzir o refluxo ácido. Adicione 2 colheres de chá de semente de erva-doce a 1 xícara de água fervente. Deixe em infusão por 10 minutos, depois coe e beba.</p>
            <h3 class="h3Curiosidades">Alho</h3>
            <p class="textoInfo"> Embora algumas pessoas culpem o alho como a causa da azia, na verdade ele pode ser usado para te livrar da azia. Usá-lo pode ser tão simples quanto mastigar um dente de alho quando ocorre azia. Você também pode armazenar alguns dentes de alho no vinagre de maçã e beber um gole do líquido quando ocorrer azia.</p>
            <h3 class="h3Curiosidades">Gengibre</h3>
            <p class="textoInfo"> O gengibre fresco é um dos remédios mais antigos para a azia e também pode ser um tratamento eficaz para as náuseas. Quando você começar a sentir os efeitos da indigestão, combine 1 colher de sopa de gengibre fresco, 1 colher de sopa de suco de limão e 2 colheres de sopa de mel em 1 xícara de água morna e beba.</p>
            <h3 class="h3Curiosidades"> Vinagre de maçã</h3>
            <p class="textoInfo"> Por mais surpreendente que pareça, o vinagre de maçã ácido pode ajudar a acalmar a azia e promover a saúde digestiva. Misture 2 colheres de sopa de vinagre de maçã em 1/2 xícara de água e beba imediatamente após uma refeição potencialmente indutora de azia.&nbsp;</p>
            <h3 class="h3Curiosidades"> Bicarbonato de Sódio</h3>
            <p class="textoInfo"> O bicarbonato de sódio é um antiácido natural que pode aliviar a azia causada pelo refluxo ácido. Misture 1/2 colher de chá de bicarbonato de sódio em 1 xícara de água e beba para neutralizar o ácido. (Evite usar este remédio se sentir azia regularmente, pois é rico em sal.)</p>
            <h3 class="h3Curiosidades">Batata</h3>
            <p class="textoInfo"> O suco de batata não só ajuda a neutralizar o excesso de ácido estomacal, mas também pode ajudar a curar o revestimento do esôfago. Para o suco, adicione uma batata crua e adicione a mesma quantidade de água fria. Mexa bem e beba imediatamente para obter o melhor resultado.</p>
        </div>

        <div class="">
            <h3 class="h3Curiosidades"> Autores e Fontes</h3>
            <p class="textoInfo"> egkrmfemfemeomfmemf</p>
        </div>


    </section>

    <section id="corpoCard2">
        <div class="row">
            <h1 center>Artigos Relacionados</h1>
        </div>
    </section>


    <section class="wrapper">
        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/4c168d67/4676414/images/fundoAntibiotico.jpg" />

            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Antibiótico e sua função</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="Antibioticos">Saber mais</a>
            </div>
        </article>
        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/4c168d67/4676414/images/gettyimages-113835988-612x612.jpg" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Antiácidos: sua função e quando usar</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="Antiacidos">Saber mais</a>
            </div>
        </article>
        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/7c40cdeb/3902964/images/Designsemnome2.png" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Vitaminas, tipos e o​nde encontrar</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="Vitaminas">Saber mais</a>
            </div>
        </article>
        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/4c168d67/4676414/images/gettyimages-1166209556-612x612.jpg" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Anti-inflamatórios: o que são, tipos</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="AntiInflamatorio">Saber mais</a>
            </div>
        </article>

        <article class="card2">
            <img class="card2__background"
                 src="https://assets.nicepagecdn.com/4c168d67/4676414/images/istockphoto-1338077753-612x612.jpg" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Antialérgico como funciona e como usar</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="Antialergicos">Saber mais</a>
            </div>
        </article>

        <article class="card2">
            <img class="card2__background"
                 src="https://saude.culturamix.com/blog/wp-content/uploads/2020/03/Tomando-Rem%C3%A9dio-1.jpg" />
            <div class="card2__content | flow">
                <div class="card2__content--container | flow">
                    <h4 class="card2__title">Analgésicos...</h4>
                    <p class="card2__description">
                        Saiba o que os antiácidos podem causar no seu organismo e seus malefícios e benefícios .
                    </p>
                </div>
                <a class="card2__button" href="Analgesicos">Saber mais</a>
            </div>
        </article>

    </section>

    <section>
        <a href="#" class="btn"></a>
    </section>

</body>

