/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');



.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 30em;
}

.container{
    margin:0;
}

.logo{
    margin:0;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

#home {
    background-image: url(../images/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    text-align:center;
}

.module.parallax {
    
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
  
  
}



/* Provide sufficient contrast against white background */
a {
    color: #080808;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */


#tituloHome {
    font-size: 4.5rem;
    color: white;
    margin-top: 5rem;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    
}

.footer {
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}




/*// area de arrastar a img //*/
#picture__input {
    display: none;
}

#textFile {
    background-color: #b4d2d9;
    border-radius: 10px;
    margin: auto;
    margin-top: 16rem;
    width: 20rem;
    height: 4rem;
    text-align: center;
    padding: 10px;
}


#iconFile {
    font-size: 2.5rem;
}

.zone {
    position: relative;
    left: 35rem;
    width: 50rem;
    z-index: 1;
    height: 15rem;
}

.zoneUm {
    opacity: 65%;
    margin: auto;
    top: 1rem;
    background: #1e3c40;
    width: 50rem;
    z-index: -1;
    height: 15rem;
    border: 2px dashed #b4d2d9;
    border-radius: 0.8rem;
    color: #B4D2D9;
    box-shadow: 0 0 0 1px rgba(255,255,255,.05),inset 0 0 .25em 0 rgba(0,0,0,.25);
    margin-bottom: 22em;
}

input[type="file"] {
    z-index: 1;
    position: absolute;
    visibility: visible;
    padding-inline: 15rem;
    padding-block: 6rem;
}

label.teste {
    padding: 20px 10px;
    width: 20rem;
    background-color: #333;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    position: absolute;
    top: 30rem;
    left: 50rem;
    z-index: 2;

}

    .zone:hover {
   cursor: pointer;
   
}


#inputps {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  
}

#btnSearch, #inputps {
   padding: 1rem;
   margin-bottom: 3rem;
   margin-top: 5rem;
   border-radius: 0.8rem;
   border: none;
}

#btnSearch {
    background: #b4d2d9;
    text-transform: uppercase;
    margin-left: 0.5rem;
}

    #btnSearch:hover {
        background-color: #698c8c;
        transition: 0.5s;
    }


i {
    text-align: center;
   
    color: #fff;
  

}


.picture:hover {
    color: #777;
    background: #ccc;
}

.picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
}

.picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
    /*max-width: 100%;*/
}



/*CARDS*/
.wrapper {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 310px;
    text-align: center;
    margin-left: 12em;
    margin-right: 12em;


}

/*.card{
background: red;
width: 400px;
display: inline-block;
margin-top: 10%;
}*/
.p {
    width: 250px;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
}

.icon {
    background: #1E3C40;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: inline-block;
}

.icone {
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 15%;
}


.saber {
    text-decoration: none;
    color: black;
    text-decoration: 2px underline #698c8c;
}


    .saber:hover {
        text-decoration: underline;
    }

/*FIM CARDS*/
/*------------------------------------------------------------------CARD------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

:root {
    /* Colors */
    --brand-color: hsl(46, 100%, 50%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    /* Fonts */
    --font-title: "Montserrat", sans-serif;
    --font-text: "Lato", sans-serif;
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.flow > * + * {
    margin-top: var(--flow-space, 1em);
}

/* CARD COMPONENT */

.card {
    margin:5%;
    display: grid;
    place-items: center;
    width: 80vw;
    max-width: 21.875rem;
    height: 28.125rem;
    overflow: hidden;
    border-radius: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

    .card > * {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

.card__background {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}

.card__content {
    --flow-space: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    height: 55%;
    padding: 12% 1.25rem 1.875rem;
    background: linear-gradient( 180deg, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.3) 10%, hsl(0, 0%, 0%) 100% );
}

.card__content--container {
    --flow-space: 1.25rem;
}

.card__title {
    position: relative;
    width: fit-content;
    width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}

    .card__title::after {
        content: "";
        position: absolute;
        height: 0.3125rem;
        width: calc(100% + 1.25rem);
        bottom: calc((1.25rem - 0.5rem) * -1);
        left: -1.25rem;
        background-color: var(--brand-color);
    }

.card__button {
    margin-top:0.1rem;
    padding: 0.75em 1.6em;
    width: fit-content;
    width: -moz-fit-content; /* Prefijo necesario para Firefox  */
    font-variant: small-caps;
    font-weight: bold;
    border-radius: 0.45em;
    border: none;
    background-color: var(--brand-color);
    font-family: var(--font-title);
    font-size: 1.125rem;
    color: var(--black);
}

    .card__button:focus {
        outline: 2px solid black;
        outline-offset: -5px;
    }

@media (any-hover: hover) and (any-pointer: fine) {
    .card__content {
        transform: translateY(62%);
        transition: transform 500ms ease-out;
        transition-delay: 500ms;
    }

    .card__title::after {
        opacity: 0;
        transform: scaleX(0);
        transition: opacity 1000ms ease-in, transform 500ms ease-out;
        transition-delay: 500ms;
        transform-origin: right;
    }

    .card__background {
        transition: transform 500ms ease-in;
    }

    .card__content--container > :not(.card__title),
    .card__button {
        opacity: 0;
        transition: transform 500ms ease-out, opacity 500ms ease-out;
    }

    .card:hover,
    .card:focus-within {
        transform: scale(1.05);
        transition: transform 500ms ease-in;
    }

        .card:hover .card__content,
        .card:focus-within .card__content {
            transform: translateY(0);
            transition: transform 500ms ease-in;
        }

        .card:focus-within .card__content {
            transition-duration: 0ms;
        }

        .card:hover .card__background,
        .card:focus-within .card__background {
            transform: scale(1.3);
        }

        .card:hover .card__content--container > :not(.card__title),
        .card:hover .card__button,
        .card:focus-within .card__content--container > :not(.card__title),
        .card:focus-within .card__button {
            opacity: 1;
            transition: opacity 500ms ease-in;
            transition-delay: 1000ms;
        }

        .card:hover .card__title::after,
        .card:focus-within .card__title::after {
            opacity: 1;
            transform: scaleX(1);
            transform-origin: left;
            transition: opacity 500ms ease-in, transform 500ms ease-in;
            transition-delay: 500ms;
        }

    .card__description{
        color:white;
    }

    .card__title{
        color:white;
    }

    /*-----------------------------------------------------------*/

    #corpoCard {
        font-family: "Poppins", sans-serif;
        background-color: #fafafa;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card01 {
        border-radius: 5px;
        box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
        padding: 30px;
        margin: 20px;
        width: 400px;
        transition: all 0.3s ease-out;
    }

    .card01:hover {
        transform: translateY(-5px);
        cursor: pointer;
    }

    .card01 p {
        color: #a3a5ae;
        font-size: 16px;
    }

    .image {
        float: right;
        max-width: 64px;
        max-height: 64px;
    }

    .blue {
        border-left: 3px solid #4895ff;
    }

}


/*Curiosidades ----------- Antibiotico*/


